// Fonts
$font-primary: Rubik, sans-serif;

// Colors
$color-primary: #9c69ff;
$color-secondary: #240066;
$color-secondary-transparent: rgba(36, 0, 102, 0.7);
$text-white: #fff;

// Others
$hoverOpacity: 70%;

// Containers

$desktopWidth: 1140px;
$bodyDesktopWidth: 1040px;
