.register {
  flex-direction: column;
  margin: 3rem 0;
}
.register-title {
  color: $color-secondary;
  margin-bottom: 2rem;
  justify-content: center;
}

.register__description {
  display: inline !important;
  color: $color-secondary;
  overflow-wrap: break-word;
  max-width: 360px;
  margin-bottom: 1rem;
}
.register__legalLinks {
  text-decoration: underline;
  color: $color-secondary;
  display: inline !important;
}
