.footer {
  overflow: hidden;
  background: $color-secondary;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.footer-container {
  width: 100%;
}

.footer-main {
  padding: 4rem 0;
  width: 100%;
  justify-content: center;

  // Children
  .footer-start {
    flex-grow: 2;
    ul {
      margin: 0 5rem 0 0;
      flex-direction: column;
    }
  }

  .footer__title {
    color: $text-white;
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .footer__li {
    color: $text-white;
    font-weight: 400;
    padding: 0.4rem 0;
  }

  .footer__link {
    color: $text-white;
  }

  // Footer End
  .footer-end {
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
  }

  .footer-socialsTop {
    width: 100%;
    justify-content: flex-end;
  }
  .footer-socialsBottom {
    margin: 1rem 0 0 0;
    width: 100%;
    justify-content: flex-end;
  }
  .footer__socials {
    width: 2rem;
    padding-left: 1rem;
  }
}

.footer-legal {
  border-top: 1px solid $text-white;
  padding: 0.8rem 0;
  width: 100%;
  justify-content: center;

  // Children
  .footerLegal-start {
    color: $text-white;
    flex-grow: 2;
  }
  .footerLegal__text {
    color: $text-white;
    font-size: 0.7rem;
    opacity: 0.8;
  }

  .footerLegal__li {
    margin: 0 1rem;
    text-decoration: none;
  }
}
