.footer {
  background: rgb(138, 138, 138);
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.footer-container {
  padding-top: 4rem;
  width: 100%;
  flex-direction: row;
}

.footer-start {
  flex-grow: 2;
  ul {
    margin: 0 5rem 0 0;
    flex-direction: column;
  }
}
.footer-end {
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.footer__title {
  color: $text-white;
  font-size: 1.1rem;
  font-weight: 700;
}
.footer__li {
  color: $text-white;
  font-weight: 400;
}
