header {
  justify-content: center;
  width: 100vw;
}

.nav-container {
  margin: 40px 0;
  min-width: $desktopWidth;
}

.nav {
  justify-content: space-between;
  width: 100%;
  .nav__logo {
    font-weight: bold;
    color: $color-primary;
  }
}

.nav-start {
  flex-grow: 3;
  align-items: center;
}

.nav-links {
  flex-grow: 2;
  display: grid;
  align-items: center;
  gap: 40px;
  * {
    word-break: keep-all;
    color: $color-secondary;
  }
}

// TODO: Resolve onhover jumping
.nav-end {
  display: grid;
  grid-template-columns: 3;
  gap: 10px;
  align-items: center;
  flex-grow: 1;
}

.nav__icon {
  fill: $color-secondary;
  height: 1.2rem;
  margin: 5px;
}

.navCart-container {
  align-items: center;
  height: 1rem;
  background: $color-primary;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  @include rounded();
  span {
    color: $text-white;
  }
}
