header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.nav-container {
  margin: 40px 0;
  min-width: 1140px;
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav .nav__logo {
  font-weight: bold;
  color: #9c69ff;
}

.nav-start {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.nav-links * {
  word-break: keep-all;
  color: #240066;
}

.nav-end {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3;
      grid-template-columns: 3;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__icon {
  fill: #240066;
  height: 1.2rem;
  margin: 5px;
}

.navCart-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1rem;
  background: #9c69ff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 13px;
}

.navCart-container span {
  color: #fff;
}

.hero {
  margin-top: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-start {
  height: 100%;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(36, 0, 102, 0.7);
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 5rem;
}

.hero__pop {
  color: #240066;
}

.hero__cta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero__cta :first-child {
  margin-right: 0.5rem;
}

.hero-end {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__video {
  border: none;
  border-radius: 13px;
  overflow: hidden;
  height: 350px;
}

.hero__craftedby {
  margin-top: 0.5rem;
  color: rgba(36, 0, 102, 0.7);
  font-weight: 700;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  opacity: 0.7;
  font-size: 1.1rem;
  letter-spacing: -0.05rem;
}

.footer {
  background: #240066;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}

#root * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.clickable:hover {
  cursor: pointer;
  opacity: 70%;
}

.main {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1040px;
}

.button-primary {
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  background: #9c69ff;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-secondary {
  border: none;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  background: #240066;
  color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.blobStart {
  position: absolute;
  left: -2%;
  top: 2%;
}

.blobEnd {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
/*# sourceMappingURL=app.css.map */