// Global Imports
@import "./Sass/Global/variables";
@import "./Sass/Global/mixins";

// Pages
@import "./Sass/Pages/homePage";

// Components
@import "./Sass/Components/nav";
@import "./Sass/Components/hero";
// Removes formatting and applies global flex and font-styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}
#root * {
  display: flex;
}

// App formatting
.App {
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

// Global Styles

.clickable:hover {
  cursor: pointer;
  @include hover();
}

.main {
  width: 100%;
  justify-content: center;
}
.container {
  max-width: $bodyDesktopWidth;
}
.button-primary {
  @include rounded();
  padding: 0.5rem 1rem;
  background: $color-primary;
  color: $text-white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.button-secondary {
  @include rounded();
  padding: 0.5rem 1rem;
  background: $color-secondary;
  color: $text-white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

// Blob Styles

.blobStart {
  position: absolute;
  left: -2%;
  top: 2%;
}
.blobEnd {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
